*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: 'Trebuchet MS', sans-serif
}

.home{
    background-color: rgb(49, 115, 191);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    color: rgb(255, 255, 255);
}

.home h1{
   font-size: 45px;
   text-transform: uppercase;
}

.botoes{
    flex-direction: row;
}

.btn{
    width: 230px;
    height: 55px;
    padding: 15px 60px;
    background-color: rgb(167, 91, 29);
    color: rgb(18, 5, 66);
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;    
    border:1px solid #FFF;
    transition: 0.4s;
    font-weight: bold;
    margin-left: 15px;
}

.btn:hover{
    background-color: rgb(31, 91, 182);
    color: #FFF;
    transform: scale(1.1);
}